@define-color bar-background #1e1e2e;

@define-color group-background rgba(60, 62, 79, 0.38);
@define-color group-border rgba(147, 154, 183, 0.38);

@define-color accent-border rgba(73, 77, 100, 0.38);
@define-color accent-blue #8aadf4;
@define-color accent-gray #939ab7;

* {
    font-family: Inter, JetBrainsMono NF, Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 14px;
}

window#waybar {
    background-color: @bar-background;
    /*border-radius: 10px;*/
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -2px #ffffff;
    text-shadow: inherit;
}

#workspaces {
    border: 2.5px solid @group-border;
    border-radius: 12px;
    background-color: @group-background;
    margin: 8px 10px;
}

#workspaces button {
    margin-left: 2px;
    margin-right: 5px;
    color: #ffffff;
    background-color: transparent;
    font-size: 18px;
    transition: none;
}

#workspaces button:hover {
    box-shadow: inherit;
    background-color: transparent;
    color: @accent-blue;
}

#workspaces button.active {
    color: @accent-blue;
}

#io {
    margin: 8px 4px;
    padding: 0px 14px;
    background-color: @group-background;
    border-radius: 12px;
    border: 2.5px solid @group-border;
    outline: none;
}
#cpu,
#memory,
#pulseaudio,
#network {
    margin: 0px 8px;
}
#pulseaudio-slider slider {
    background-color: white;
    border-radius: 100%;
    box-shadow: none;
    border: none;
    outline: none;
}
#pulseaudio-slider trough {
    min-height: 5px;
    min-width: 120px;
    border-radius: 3px;
    background-color: gray;
    border: none;
    outline: none
}
#pulseaudio-slider highlight {
    border-radius: 3px;
    background-color: @accent-blue;
    border: none;
    outline: none;
}

#tray {
    margin: 0px 12px;
}

#custom-arch {
    font-size: 25px;
    margin-left: 20px;
    margin-right: 8px;
    color: #1793d1;
}

#clock {
    margin-right: 14px;
}
